 body {
  display: grid;
  grid-template-columns: 30vw 30vw 30vw;
  grid-template-rows: 80vh;
  background-color: black;
  font-family: monospace;
 }
 canvas {
  cursor: crosshair;
 }
 #textureCanvas {
   width: 30vw;
   height: 30vw;
   background-color: black;

 }
 button#clear-cache {
  font-family: monospace;
  margin: 0.5em;
 }
 #mainCanvas {
    width: 30vw;
    height: 30vw;
}
 #penCanvas {
   width: 30vw;
   height: 30vh;
}
#v-div-0 {
  display: grid;
  grid-template-rows: 16em calc(80vh - 16em);
 }
#v-div-1 {
  display:grid;
grid-template-rows: 3em 13em;
height: 16em;
 }
 #rendering-options {
  height: 16em;
  
 }
 #h-div-1 {
  display:grid;
grid-template-columns: 20vw 10vw;
 }
 #model-select-container {
  height: 3em;
  width: 20vw;
 }
 #penCanvas {
   width: 10vw;
   height: 16em;
 }
 fieldset {
  border: none;

 }
 #rendering-options label, legend h3{
  height: 2em;
  flex: 0 0 auto;
  color: grey;

 }

 legend {
  color: grey;
  height: 2em;
  flex: 0 0 auto;
  font-size: large;
  padding: 1em 0 0 0;

 }
 #rendering-options checkbox {
  height: 2em;
  flex: 0 0 auto;
  color: grey;

 }
 #canvas-controls {
  display:grid;
  grid-template-columns: 20vh 10vh;

 }

 #paletteCanvas {
  width: 30vw;
  height: calc(80vh - 16em);
  background-color: orange;

 }
 #v-div-2 {
  display: grid;
  width: 30vw;
  height: 80vh;

  grid-template-rows: calc(80vh - 2em) 2em;
 }
button#clear-canvas-button {
  font-family: monospace;
  height: 2em;
 }
 